/* win lose compiler compare histogram */
.filter-box {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;

    /* optional hover effect */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }
}

/* checkbox style */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #277383;
    border-color: #1e5a66;
}

.filter-menu-container .ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner,
.filter-menu-container .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner:hover {
    background-color: #1e5a66 !important;
    border-color: #1e5a66 !important;
}

/* table */
.plot-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}

.graphContainer {
    width: 100%;
    word-wrap: break-word;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.multiple-graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.multiple-graph-container .graphContainer {
    width: 50%;

}



.graph-container-short-histogram {

    margin: 5px;
    float: right;
    word-wrap: break-word;


}


.subtable-graph {
    max-height: 350;
}

.graph-container-tall-histogram {

    width: 100%;
    width: 700px;
    height: 600px;
    word-wrap: break-word;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.plot-title-short-histogram {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}

/* historm slider */
.graph-container-short-histogram .ant-slider-rail,
.graph-container-short-histogram .ant-slider-track,
.graph-container-short-histogram .ant-slider-handle {
    background-color: #277383 !important;
    box-shadow: none !important;
    outline: none !important;
}

.graph-container-short-histogram .ant-slider-handle:focus::after,
.graph-container-short-histogram .ant-slider-handle:focus::before,
.graph-container-short-histogram .ant-slider-handle::after,
.graph-container-short-histogram .ant-slider-handle::before {
    content: none !important;
    /* remove pseudo-elements */
}


.graph-container-short-histogram .ant-slider-handle:hover,
.graph-container-short-histogram .ant-slider-handle:focus,
.graph-container-short-histogram .ant-slider-handle:active,
.graph-container-short-histogram .ant-slider-handle-dragging {
    border-color: #1e5a66 !important;
    background-color: #1e5a66 !important;
}

.center-histogram {
    text-align: center;
}