.jobSubContainer {
    margin: 20px;

}



.infoTitle {
    font-size: 1.6em;
    font-weight: bolder;
}

.infoSubTitle {
    font-size: '1.2em';
    font-weight: bold;
}

/* reduce margin for text field input*/
.infoContent .MuiTextField-root {
    margin: 4px;
}

.infoContent .MuiTextField-root .MuiInputBase-input {
    padding: 2px;
}

.infoContent .MuiTextField-root .MuiInputLabel-outlined {
    transform: translate(14px, 5px) scale(1);
}

/* when the input is focused or filled */
.infoContent .MuiTextField-root.Mui-focused .MuiInputLabel-outlined,
.infoContent .MuiTextField-root .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
}

.infoContent .MuiTextField-root .MuiInputBase-input,
.infoContent .MuiTextField-root .MuiOutlinedInput-input {
    padding-top: 4px;
    padding-bottom: 4px;
}

.centeredBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* aligh content to the top */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}

.infoContent {
    align-self: flex-start;
    width: 100%;
}

.navButton {
    display: flex;
    justify-content: space-between;
    margin-top: 0 0;
}