.navigation-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.link-box {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;

    /* optional hover effect */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }
}

.link-box,
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link-box a:hover {
    text-decoration: underline;
}