/* customTableStyles */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

th,
td {
    padding: 5px;
    max-width: 70px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
    word-break: break-word;
}

th {
    background-color: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
    max-width: 70px;

}

th.wrap-text {
    white-space: normal;
}

th.group-header {
    background-color: #d4d4d4;
    color: white;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.custom-header {
    background-color: rgb(240, 239, 239);
}


.center {
    display: block;
    clear: both;
    margin: 10px;
}

.button,
.submit-button {
    background-color: #277383;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.table-action-button {
    border: none;
    text-align: center;
    display: inline-block;
    margin: 2px;
    border-radius: 4px;
    padding: 10px 20px;
    transition-duration: 0.4s;
    font-size: small;
    font-weight: 500;
    color: black;
}

.table-action-button:hover {
    opacity: 0.6;
}

.table-search-input {
    width: 180px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    float: right;
    padding: 2px;
    margin-bottom: 5px;
    clear: right;
}

.expand-collapse-button {
    border: none;
    /* removes the border */
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}