[web]
MAQAO_VERSION                   = /share/maqao/bin/maqao
SQLALCHEMY_DATABASE_SERVER      =  mysql://#DB_USER_NAME#:#DB_USER_PASSWD#@localhost
SQLALCHEMY_DATABASE_URI_QAAS         = ${SQLALCHEMY_DATABASE_SERVER}/qaas
SQLALCHEMY_DATABASE_URI_ONEVIEW      = ${SQLALCHEMY_DATABASE_SERVER}/test
SQLALCHEMY_DATABASE_URI_LORE         = ${SQLALCHEMY_DATABASE_SERVER}/lore
QAAS_OUTPUT_FOLDER              = /var/www/html/private
FRONTEND_HTML_FOLDER_OV         = /var/www/html/private
#LORE_SOURCE_DIR                 = /host/home/yjiao/loop_collections_12072018
