*.pyc
.venv
.vscode
*.swp
container/pocc*
qaas-web/oneview/backend/venv
qaas-web/oneview/frontend/node_modules/
qaas-web/oneview/frontend/package-lock.json
qaas-web/oneview/frontend/dist/
qaas-web/qaas/backend/venv
qaas-web/qaas/frontend/node_modules/
qaas-web/qaas/frontend/package-lock.json
qaas-web/qaas/frontend/dist/