*.pyc
.venv
.vscode
*.swp
container/pocc*
qaas-web/oneview/backend/venv
qaas-web/oneview/frontend/node_modules/
qaas-web/oneview/frontend/package-lock.json
qaas-web/oneview/frontend/dist/
qaas-web/qaas/backend/venv
qaas-web/qaas/frontend/node_modules/
qaas-web/qaas/frontend/package-lock.json
qaas-web/qaas/frontend/dist/
qaas-web/lore/backend/venv
qaas-web/lore/frontend/node_modules/
qaas-web/lore/frontend/package-lock.json
qaas-web/lore/frontend/dist/
qaas-web/common/landing/node_modules/
qaas-web/common/landing/dist/
qaas-web/common/landing/package-lock.json/