*.pyc
.venv
.vscode
*.swp
container/pocc*
qaas-web/apps/oneview/backend/venv
qaas-web/apps/oneview/frontend/node_modules/
qaas-web/apps/oneview/frontend/package-lock.json
qaas-web/apps/oneview/frontend/dist/
qaas-web/apps/qaas/backend/venv
qaas-web/apps/qaas/frontend/node_modules/
qaas-web/apps/qaas/frontend/package-lock.json
qaas-web/apps/qaas/frontend/dist/
qaas-web/apps/lore/backend/venv
qaas-web/apps/lore/frontend/node_modules/
qaas-web/apps/lore/frontend/package-lock.json
qaas-web/apps/lore/frontend/dist/
qaas-web/apps/lore/backend/cache
qaas-web/apps/lore/backend/*.pkl
qaas-web/apps/landing/frontend/node_modules/
qaas-web/apps/landing/frontend/dist/
qaas-web/apps/landing/frontend/package-lock.json
# delete files in versions
#qaas-web/apps/common/backend/multidb/versions/*
# keep the empty directory
#!qaas-web/apps/common/backend/multidb/versions/
container/ssh.tar.gz