.center {
    display: block;
    clear: both;
    margin: 10px;
}

.button,
.submit-button {
    background-color: #277383;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.table-action-button {
    border: none;
    text-align: center;
    display: inline-block;
    margin: 2px;
    border-radius: 4px;
    padding: 10px 20px;
    transition-duration: 0.4s;
    font-size: small;
    font-weight: 500;
    color: black;
}

.table-action-button:hover {
    opacity: 0.6;
}

.table-search-input {
    width: 180px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    float: right;
    padding: 2px;
    margin-bottom: 5px;
    clear: right;
}

/* customTableStyles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    padding: 10px;
    max-width: 100px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100px;

}

th.wrap-text {
    white-space: normal;
}

th.group-header {
    background-color: #d4d4d4;
    color: white;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-container {
    width: 100%;
    max-height: 600px;
    margin-top: 20px;
    overflow-x: auto;
}

/* tootip style */
.tooltip {
    position: relative;
}

.tooltip:hover:after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 100%;
    white-space: pre-wrap;
    z-index: 1;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
}