.center {

    display: block;
    clear: both;
    margin: 10px;

}

.button {
    background-color: #277383;
    border-radius: 4px;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.table-action-button {
    border: none;
    text-align: center;
    display: inline-block;
    margin: 2px;
    border-radius: 4px;
    padding: 10px 20px;
    transition-duration: 0.4s;
    font-size: small;
    font-weight: 500;
    color: black;
}

.table-action-button:hover {
    opacity: 0.6;
}





.table-search-input {
    width: 180px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    float: right;
    padding: 2px;
    margin-bottom: 5px;
    clear: right;
}

.submit-button {
    background-color: #277383;
    border-radius: 4px;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* overide default behavior */
.wrap-text {
    white-space: initial !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.ReactTable {
    clear: both;
}

.ReactTable .rt-thead.-header {
    font-size: 18px;
    font-weight: bold;
}

.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-tbody .rt-th {
    font-size: 16px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.ReactTable .rt-th,
.ReactTable .rt-td {
    border: 1px solid #cecccc;

}

.ReactTable .rt-th {
    color: inherit !important;
}

.group-header {
    background-color: #d4d4d4;
    color: white;
    font-weight: bold;
    text-align: center;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
}

/* CustomTableStyles */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-container {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
}