.center {

    display: block;
    clear: both;
    margin: 10px;

}


.table-action {
    text-align: center;
}


.table-action-button {
    background-color: #2f889a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
    font-size: small
}

.table-action-button:hover {
    background-color: #277383;
}

.ReactTable {
    clear: both;
}


.table-search-input {
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    float: right;
    padding: 2px;
    margin-bottom: 5px;
}

.submit-button {
    background-color: #277383;
    border-radius: 4px;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}