html,
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #505260;
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #fafafa;

}


#ttl1 {
    font-size: 30px;
    float: left;
    color: #2f889a;
    margin-left: 5px;
}


.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}