.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f889a;
    color: #fff;

}

.home {
    display: inline-block;
    margin: 14px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

.selected-runs-bag {
    margin-right: 30px;
}

/* shopping bag icon */
.top-bar-badge {
    font-size: x-large;
}

.top-bar-badge-baseline {
    font-size: x-large;

    color: #4ee2ff;
}

/* text showed when no runs are selected */
.drawer-no-selection-text {
    padding: 5px;
}